<!DOCTYPE html>
<html>
<head>
	<title>File Sharing</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<div class="row">
				<div class="col s4 offset-s2" style="">
					Hello
				</div>
				<div class="col s8">
					World
				</div>
			</div>
		</div>
	</nav>
	<div class = "container">		
	  <div class="row">
	    <form class="col s12" action="{{ url_for('connect') }}" method="POST">
	      <div class="row">
	        <div class="input-field col s6">
	          <input name="ip_addr" id="first_name" type="text" class="validate">
	          <label for="first_name"></label>
	        </div>
	        <div class="col s6">
	          <button type="submit" class="btn" style = "margin-top:25px;">Submit</button>
	        </div>
	      </div>
	    </form>
	  </div>
	</div>
</body>
</html>
